#userInput {
  width: 45rem;
  max-width: 90%;
  margin: 3rem auto;
  background-color: white;
  padding: 1rem 2rem;
  border-radius: 15px;
}

#userList {
  width: 45rem;
  max-width: 90%;
  margin: 3rem auto;
  background-color: white;
  padding: 1rem 2rem;
  border-radius: 15px;
}

